


body {
  font-family: Comic Sans;
  position: absolute; 
  /* top: 100%; */ 
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.50)), url(https://agar.io/img/background.png);
  background-color: grey;
  background-blend-mode: multiply;
  overflow-y: scroll; 
    
  }
  h1 {
    /* margin-top: -30px; */
    font-size: 60px;
    font-family: Comic Sans;
    font-weight: 500;
    color: black;
    border-right: 4px solid #000; 
  }
  
  /* label {
    display: inline-block;
    width: 50%; /* Adjust width as needed */
  }
  
  /* input[type="number"] {
    display: inline-block;
    width: 50%;
    border: 1px solid #ccc;
    padding: 8px 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  } */ 


  /* Base styles */

  .input-container {
    
   
 
    margin-bottom: 20px;
    border-color: black;
  }
  
  .input-container input[type="text"] {
    margin-left: 3rem;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .input-container input[type="text"]:focus {
    border-color: black;
    outline: none;
  }


  
/* CSS */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 3rem;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}  


p{
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  text-align: justify;
}
span{
  text-decoration: underline;
  color: deeppink;
}